<%- include ("partials/header") %> 
<body class="sections-page sidebar-collapse">

 <!--     *********     HEADER 2      *********      -->
    <%- include ("partials/navbar") %>
    <%- include ("partials/venues/homebody.ejs") %>
    
        <!--     *********    END HEADER 2      *********      -->



                    <%- include ("partials/venues/category.ejs")%>
                        <!--     *********    TEAM 2     *********      -->

                    <%- include ("partials/venues/trendingvenues.ejs")%>
                    <!--     *********    END TEAM 2      *********      -->
                    <%-include ("partials/shortcities.ejs") %>
              
        
        <!--     *********    END PROJECTS 1      *********      -->
       
        <div id="modl"></div>
        <script src="contact.js"></script>
        


       <!-- copymaterial -->
       <div class="space-70"></div>
    <!--booking end  -->


    <!-- model start -->
    <%- include ("partials/authmodals") %>
    <%- include ("partials/footer") %>

 




    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

<% include("partials/scripts.ejs") %>

<!-- <script src="./firebase/companies.js"></script> -->



</body>

</html>
