<%- include ("../partials/header") %> 
  <body class="sections-page sidebar-collapse">
    <%- include ("../partials/navbar") %>

    <div class="wrapper">
      <div class="page-header page-header-small">
        <div
          class="page-header-image"
          data-parallax="true"
          style="background-image: url('/assets/img/bg26.jpg');"
        ></div>
        <div class="content-center">
          <div class="container">
            <h1 class="title">Browse your desire venue.</h1>
          </div>
        </div>
      </div>

      <div class="space-70"></div>
      <!-- filters -->

      <div class="container">
        <form>
          <div class="form-group">
            <label for="inputAddress">Event Type</label>
            <select id="inputtype" class="form-control inputborder">
              <option>Wedding</option>
              <option>Party</option>
              <option>Conference</option>
              <option>Meeting</option>
              <option>Seminar</option>
              <option>Shows</option>
              <option>Religious Event</option>
            </select>
          </div>

          <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Number of people</label>
        <input type="number" class="form-control inputborder" id="inputnumberofpeople" placeholder="I,m not sure">        
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Seated/Non Seated</label>
        <select id="inputState" class="form-control inputborder">
                <option selected>Seated</option>
                <option>Non Seated</option>
              </select>
      </div>
    </div> -->

          <div class="form-group">
            <label for="inputAddress">Location</label>
            <select id="inputState" class="form-control inputborder">
              <option selected>Shahra-e-faisal</option>
              <option>Gulshan-E-hadeed</option>
              <option>Tariq road</option>
              <option>Pechs</option>
              <option>Gulshan-e-iqbal</option>
              <option>lyari</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputCity">City</label>
            <select id="inputcity" class="form-control inputborder">
              <option selected>Karachi</option>
              <option>Lahore</option>
              <option>islamabad</option>
              <option>Hyderabad</option>
              <option>sukker</option>
            </select>
          </div>

          <!-- checkboxes -->
          <!-- check end -->
          <div id="adfilters"></div>
          <label for="Pricing">Pricing</label>

          <div id="sliderr"></div>
          <!-- <script src="slider.js"></script> -->
        </form>
        <br />
        <br />

        <button
          id="advbutton"
          onclick="showadvancefilters()"
          class="btn btn-primary"
        >
          ShowAdvance filters
        </button>
        <a href="#jumptocards"
          ><button onclick="basicsearch()" class="btn btn-primary">
            Search
          </button></a
        >

        <!-- <script src="advancefilters.js"></script> -->
      </div>
    </div>

    <!--     *********    END BLOGS 5      *********      -->

    <div class="blogs-5" data-background-color="gray">
      <div class="container">
        <div class="row">
          <div id="jumptocards" class="col-md-10 ml-auto mr-auto text-center">
            <h2 class="title">Venues</h2>
            <p>
              According to the National Oceanic and Atmospheric Administration,
              Ted, Scambos, NSIDClead scentist, puts the potentially record low
              maximum sea ice extent tihs year down to low ice extent in the
              Pacific and a late drop in ice extent in the Barents Sea.
            </p>
            <br />

            <div class="row" id="venuescards">
              <% venues.forEach(element => {%>
              <div class="col-md-4">
                <div class="card card-blog">
                  <div class="card-image">
                    <a href="/venues/<%=element._id%>">
                      <img
                        style="cursor: pointer;"
                        src="/<%= element.image %>"
                        class="img rounded"
                      />
                    </a>
                  </div>

                  <div class="card-body">
                    <h6 class="category text-primary">
                      <%= element.venueName %>
                    </h6>
                    <h6 class="category text-primary">
                      <%= element.venueCity %>
                    </h6>

                    <p class="card-description">
                      <%= element.venueDescription %>
                    </p>
                    <div class="card-footer"></div>
                  </div>
                </div>
              </div>

              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--     *********    END BLOGS 5      *********      -->

    <%- include ("../partials/authmodals") %> <%- include ("../partials/footer")
    %>
  </body>
</html>
