<%- include ("../partials/adminheader")%> <%- include ("../partials/adminnav")%>
<div class="main-content">
  <!-- Navbar -->

  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <h1>Vendors List</h1>
        <table>
          <tr>
            <th>Vendor Name</th>
            <th>Venues</th>
            <th>Delete</th>
            <th>Details</th>
          </tr>
          <% vendors.forEach(element => {%>

          <tr>
            <td><%= element.name %></td>

            <td>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Registered Venues
              </button>
            </td>

            <td>
              <form action="/superadmin/deletevendor/<%= element.id %>" method="POST">
                <input class="btn btn-warning" type="submit" value="DELETE" />

            </form>
            </td>

            <td>
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target=".bd-example-modal-lg"
              >
                Info
              </button>
            </td>
          </tr>
          <% }) %>

          <tr>
            <td>Danish Ali</td>

            <td>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Registered Venues
              </button>
            </td>
            <td>
              <button id="dlt" type="button" class="btn btn-danger">
                Delete
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target=".bd-example-modal-lg"
              >
                Info
              </button>
            </td>
          </tr>
        </table>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
            labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>

        <!-- modaal start -->

        <div
          class="modal fade bd-example-modal-lg"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <p>info goes here</p>
              </div>
            </div>
          </div>
        </div>

        <!-- modal end -->
      </div>
    </div>
  </div>
</div>
<%- include ("../partials/adminfooter")%>
